seaborn
pandas
numpy
matplotlib
streamlit
langchain-groq
langchain_community
PyPDF2
sentence-transformers
python-dotenv
langchain-unstructured
langchain-ollama
import-ipynb
langchain-chroma
chromadb
pymysql
sqlalchemy
google-genai
pdf2image
PyMuPDF